body {
  /* background-color: #e8e8e8; */
  background: linear-gradient(90deg, #83a4d4 0%, #b6fbff 100%);

  font-family: "Fredoka One", sans-serif;
}


.hide-container {
  display: none;
}

.container {
  background-color: #f8f8f8;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-image: url("images/rainbowbg.png");
  background-position: center;
  background-size: 45%;
  background-repeat: repeat-y;
}

.btn {
  font-size: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  /* display: block; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3.75rem;
}

h4 {
  font-size: 2rem;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* COUNTDOWN STYLES */


#timerCountdown {
  font-size: 6rem;
  text-align: center;
}

.countdownBtns {
  text-align: center;
  font-size: 1.75rem;
  padding: 2%;
}

@media (min-width: 600px) {
  .container {
    max-width: 450px;
    max-height: 600px;
    padding: 3%;
    margin: 5% auto;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 28px -10px rgba(0,0,0,0.75);
  }
}


